input {
    margin-top: 5px;
}

.section1 {
    width: 50%;
    margin-left: 25%;
}

.obrigatorio {
    color: red;
}

.buttonSub {
    margin-top: 30px;
}

@media screen and (max-width: 980px) {
    nav a {
        margin-left: 50%;
    }
}