body {
    text-align: center;
    font-style: arial, sans-serif;
}

nav {
    font-size: 20px;
}

p {
    font-size: 35px;
    max-width: 50%;
    margin: auto;
}

.img1 {
    padding: 10px 0 0 0;
}

.section1 {
    margin-top: 20px;
    background-color: #DCDCDC;
}

@media screen and (max-width: 980px) {
    nav a {
        margin-left: 50%;
    }
}